<div class="container-page">
    <h1>Formulario de Registro</h1>
    <hr>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="grid-layout">
            <div class="div1">
                <rounded-input [label]="'ID'" [customClass]="'primary'"
                    [control]="productForm.controls.id"></rounded-input>
            </div>
            <div class="div2">
                <rounded-input [label]="'Nombre'" [customClass]="'primary'"
                    [control]="productForm.controls.name"></rounded-input>
            </div>
            <div class="div3">
                <rounded-input [label]="'Descripción'" [customClass]="'primary'"
                    [control]="productForm.controls.description"></rounded-input>
            </div>
            <div class="div4">
                <rounded-input [label]="'Logo'" [customClass]="'primary'"
                    [control]="productForm.controls.logo"></rounded-input>
            </div>
            <div class="div5">
                <rounded-input [label]="'Fecha Liberación'" [customClass]="'primary'" [type]="'date'"
                    [control]="productForm.controls.releaseDate"></rounded-input>
            </div>
            <div class="div6">
                <rounded-input [label]="'Fecha Revisión'" [customClass]="'primary'" [type]="'date'"
                    [control]="productForm.controls.revisionDate"></rounded-input>
            </div>
        </div>
        <br>
        <div class="parallel-components">
            <div class="align-right">
                <app-button value="Reiniciar" [customClass]="'basic'" (click)="cancelChanges()"></app-button>
            </div>
            <div class="align-left">
                <app-button value="Enviar" [customClass]="isFormValid?'primary':'disabled'" (click)="saveChanges()"
                    [type]="'submit'" [isDisabled]="!isFormValid"></app-button>
            </div>
        </div>
    </form>
</div>